.task-item__green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0.8rem;
  padding: 0.8rem;
  background-color: #84f575;
  border: 4px solid green;
  border-radius: 40px;
}

.task-item__blue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0.8rem;
  padding: 0.8rem;
  background-color: #7fcfff;
  border: 4px solid blue;
  border-radius: 40px;
}

.task-item__red {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0.8rem;
  padding: 0.8rem;
  background-color: #f78484;
  border: 4px solid red;
  border-radius: 40px;
}
.task-item__red {
}

.task-item h2 {
  color: #111111;
  font-size: 1rem;
}
.task-item__done {
  color: green;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.2rem;
  background-color: #22ff2f;
  border: 4px solid green;
  padding: 0.5rem;
  border-radius: 18px;
}
